/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     height: 200px;
     width: 100%;
     clear: both;
     border: 2px solid black;
}

section {
     display: float;
     float: left;
     height: 400px;
     width: 33.333%;
     border: 2px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
