body,
*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

header {
	position:fixed;
	z-index: 100;
	width: 100%;
	background-color: rgb(223, 222, 224);
	top: 0rem;
}

#nav-bar {
		width: 100%;
	}

.logo {
	float: left;
	width: 40px;
	height: auto;
	padding-top: 10px;
	margin-left: 40px;
}

main {
	clear: both;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

.main-nav li {
	display: inline-block;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: rgb(38, 38, 38);
}

a:hover {
	color: rgb(187, 177, 200);
}

.main-nav li:first-child {
	padding-left: 75%;
}

.profile-pic {
	width: 40%;
	height: auto;
	float: right;
	position: relative;
	border-radius: 50px;
}

#intro {
	margin-top: 5%;
	display: inline-block;
}

#greeting {
	display: flex;
	flex-direction: column;
}

h1 {
font-size: 1.75rem;
margin: 1rem;
padding-left: 1rem;
}

h2 {
clear:both;
font-size: 3rem;
margin-top: 10%;
margin-left: 1rem;
padding-left: 1rem;
}

h3 {
font-size: 2rem;
}

p {
font-size: 1.5rem;
margin: 1rem;
padding-left: 1rem;
}

button{
margin: 1rem;
padding-left: 1rem;
padding-right: 1rem;
padding-top: .75rem;
padding-bottom: .75rem;
font-size: 1rem;
}

#work{
clear: both;
}

#work li{
list-style-type: disc;
padding-top: 3%;
font-size: 1rem;
}

#work .languages li {
float: left;
margin: 0 20px;
list-style-type: disc;
}

#projects{
clear: both;
display: grid;
grid-template-columns: repeat(3, 1fr);
padding-top: 2%;
grid-column-gap: 10px;
}
