body,
*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

/*--------------------------------------
Header
---------------------------------------*/

header {
	position:fixed;
	z-index: 100;
	width: 100%;
	background-color: rgb(223, 222, 224);
	top: 0rem;
}

#nav-bar {
		width: 100%;
	}

.logo {
	float: left;
	width: 40px;
	height: auto;
	padding-top: 10px;
	margin-left: 40px;
}

main {
	clear: both;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

.main-nav li {
	display: inline-block;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: rgb(38, 38, 38);
}

a:hover {
	color: rgb(187, 177, 200);
}

.main-nav li:first-child {
	padding-left: 75%;
}

/*--------------------------------
Intro and About
--------------------------------*/

.profile-pic {
	width: 40%;
	height: auto;
	float: right;
	position: relative;
	border-radius: 50px;
}

#intro {
	margin-top: 5%;
	display: inline-block;
}

#intro p {
	margin-left: 1rem;
	padding-left: 1rem;
}

#greeting {
	display: flex;
	flex-direction: column;
}

h1 {
font-family: 'Pt Serif', 'Times New Roman', serif;
font-weight: 400;
font-size: 1.75rem;
margin: 1rem;
padding-left: 1rem;
}

h2 {
clear:both;
font-size: 3rem;
margin-top: 10%;
margin-left: 1rem;
font-family: "Kanit", Tahoma, sans-serif;
font-weight: 600;
}

h3 {
font-family: "Kanit", Tahoma, sans-serif;
font-size: 2rem;
font-weight: 500;
}

p {
font-size: 1.25rem;
margin-bottom: 1rem;
margin-top: 1rem;
font-family: "Kanit", Tahoma, sans-serif;
font-weight: 400;
}

button{
margin: 1rem;
padding-left: 1rem;
padding-right: 1rem;
padding-top: .75rem;
padding-bottom: .75rem;
font-size: 1rem;
}

/*-------------------------
Work
-------------------------*/

#work{
clear: both;
}

#work li{
display: inline-block;
list-style-type: none;
padding-top: 2%;
font-size: 1rem;
margin-left: 2%;
margin-right: 2%;
}

#work .languages li {
float: left;
margin: 0 20px;
list-style-type: disc;
}

#work ul {
	text-align: center;
}

#projects{
clear: both;
display: flex;
flex-wrap: wrap;
column-gap: 15px;
justify-content: center;
align-items: center;
}

.project p {
clear: both;
padding-left: none;
}

.title {
margin-bottom: 2%;
}

.title p {
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1.75rem;
	margin-left: 1rem;
	padding-left: 1rem;
}

.project img {
	margin-top: .25rem;
}
/*---------------------------------------------
More
---------------------------------------------*/

#fun-facts-title p {
	font-family: 'Pt Serif', 'Times New Roman', serif;
font-weight: 400;
font-size: 1.75rem;
	margin-left: 1rem;
padding-left: 1rem;
}

#more {
margin-left: 1rem;
display: flex;
flex-wrap: wrap;
column-gap: 8%;
/*justify-content: center;
align-items: center;*/
}

#more .design-work img, 
#more .company img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
}

#more h3 {
	padding-left: 1rem;
/*	text-align: center; */
	margin-bottom: 2.5%;
}

#more p {
	padding-left: 1rem;
}


/* Form */

.form-section h3 {
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 600;
	font-size: 3rem;
	padding-left: 1rem;
}

.web-update {
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1.75rem;
}

.form-section {
	padding-bottom: 3rem;
}

.form-section p {
	margin-left: 1rem;
	padding-left: 1rem;
}

.form {
	display: flex;
	justify-content: left;
}

.input-container {
	position: relative;
	margin: 1.5rem;
}

label, input {
	display: flex;
	flex-direction: column;
}

input {
	top: 0px;
	left: 0px;
	padding: .5rem;
	border: 1px solid black;
}

/*==============================
Footer 
===============================*/

footer {
clear: both;
background: rgb(223, 222, 224);
width: 100%;
height: 4rem;
}

.footer-content {
	display: inline;
}

.footer-content span {
	float: left;
	margin-left: 10%;
	margin-top: 1.5rem;
}

footer ul {
	margin-left: 75%;
}

 footer li {
	float: left;
	padding-right: 10px;
	text-decoration: underline;
	margin-top: 1.5rem;
}
