body,
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
   clear: both;
}

html {
	font-size: 18px;
}

/*--------------------------------------
Header
---------------------------------------*/

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: rgb(223, 222, 224);
	top: 0rem;
}

.navbar {
	width: 100%;
}

.logo {
	float: left;
	width: 40px;
	height: auto;
	padding-top: 10px;
	margin-left: 40px;
}

main {
	clear: both;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

.main-nav li {
	display: inline-block;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Kanit", Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: rgb(38, 38, 38);
}

a:hover {
	color: #BBB1C8;
}

.main-nav li:first-child {
	padding-left: 75%;
}

/*--------------------------------
Intro and About
--------------------------------*/
.profile-pic {
	width: 40%;
	height: auto;
	float: right;
	position: relative;
	border: solid 3px;
	box-shadow: 10px 5px 5px #292230;
}

#intro {
	margin-top: 5%;
	display: inline-block;
}

#greeting {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1.75rem;
	margin: 1.5rem 1rem 1rem 1rem;
	padding-left: 1rem;
}

h2 {
	clear: both;
	font-size: 2.5rem;
	margin-top: 10%;
	margin-left: 1rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
}

h3 {
	font-family: "Kanit", Tahoma, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

p {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 400;
}

#intro p,
.title p,
#fun-facts-title p {
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 1rem;
	padding-left: 1rem;
}

#intro h2 {
	margin-top: 4rem;
}

#intro #welcome {
	margin-left: 1rem;
	padding-left: 1rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

#projects span {
	text-decoration: underline;
}

button {
	margin: .75rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	width: 75%;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
	margin-left: 2rem;
	border: 3px solid;
}

button:hover {
	background: #292230;
	color: #dfdee0;
}

button:hover a {
	background: #292230;
	color: #dfdee0;
	text-decoration: none;
}

/*------------------------
Hotspot
------------------------*/

#hotspot {
	left: 15%;
	top: 20%;
}

.hotspot {
	width: 90px;
	height: 90px;
	line-height: 18px;
	text-align: center;
	background-color: rgb(187, 177, 200, .5);
	position: absolute;
	border-radius: 5px;
	border: 2px solid rgb(38, 38, 38);
}

.hotspot .empty-text {
	width: 100%;
	height: 100%;
}

.empty-text {
	font-family: "Kanit", Tahoma, sans-serif;
	font-size: 1rem;
	margin-top: 7px;
}

.hotspot .empty-text:hover {
	cursor: pointer;
}

.hover-popup {
	display: none;
	z-index: 1;
}

.hotspot.clicked {
	display: block;
}

.hotspot:hover .hover-popup {
	display: block;
	position: absolute;
	margin-top: 10%;
	left: 100%;
	margin-left: 1rem;
	top: 0;
	width: 90px;
	height: 90px;
	line-height: 18px;
	text-align: center;
	background-color: #DFDEE0;
	position: absolute;
	border-radius: 5px;
	border: 2px solid rgb(38, 38, 38);
	font-family: "Kanit", Tahoma, sans-serif;
	padding-top: 20%;
}

/*-------------------------
Work
-------------------------*/

#work {
	clear: both;
}

#work li {
	display: inline-block;
	list-style-type: none;
	padding-top: 2%;
	font-size: 1rem;
	margin-left: 2%;
	margin-right: 2%;
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
}

#work .languages li {
	float: left;
	margin: 0 20px;
	list-style-type: disc;
}

#work ul {
	text-align: center;
}

#projects {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	justify-content: center;
	align-items: center;
}

.project img {
	width: 350px;
	height: 350px;
}

.project p {
	max-width: 100%;
	margin-top: 1rem;
	height: 1.5rem;
	padding-left: none;
}

.title {
	margin-bottom: .25rem;
	padding-bottom: .25rem;
}

.project span {
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	color: blue;
}

.project span a {
	color: blue;
}


.project img {
	margin-top: .25rem;
	border: solid;
}

/*---------------------------------------------
More
---------------------------------------------*/

#more {
	margin-left: 1rem;
	display: flex;
	flex-wrap: wrap;
	column-gap: 8%;
}

#more .design-work img,
#more .company img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
}

#more embed {
	border: solid;
	box-shadow: 10px 5px 5px #292230;
	width: 500px;
	height: 500px;
}

#more h3 {
	padding-left: 1rem;
	/*	text-align: center; */
	margin-bottom: 2.5%;
}

#more p {
	margin-bottom: .25rem;
	padding-bottom: .25rem;
	text-decoration: underline;
	color: blue;
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1rem;
}

#more p a {
	color: blue;
}

/*=============================
Form 
=============================*/

.form-section h3 {
	clear: both;
	font-size: 2.5rem;
	margin-left: 1rem;
	margin-top: 7%;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
}

.form-section {
	padding-bottom: 3rem;
}

.form-section p {
	margin-left: 1rem;
	padding-left: 1rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

#web-update {
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 1rem;
	padding-left: 1rem;
}


.form {
	display: flex;
	justify-content: left;
}

.input-container {
	position: relative;
	margin: .5rem 1rem 1rem 1rem;
}

label,
input {
	display: flex;
	flex-direction: column;
}

label {
	padding-bottom: .5rem;
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1rem;
}

input {
	height: 2.5rem;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: .5rem .5rem .5rem 1rem;
	border: 1px solid black;
	font-size: 1.25rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 400;
}

.form .submitBtn {
	justify-content: center;
	font-size: 1rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
	width: 90%;
	margin-left: 1rem;
}

.submitBtn:hover {
	background: #292230;
	color: #dfdee0;
}

.form-group {
	display: flex;
}

.form-group .form .submitBtn {
	border: 3px solid;
}

/*==============================
Footer 
===============================*/

footer {
	clear: both;
	background: rgb(223, 222, 224);
	width: 100%;
	height: 4rem;
}

.footer-content {
	display: inline;
}

.footer-content span {
	float: left;
	margin-left: 10%;
	margin-top: 1.5rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
}

footer ul {
	margin-left: 80%;
}

footer li {
	float: left;
	padding-right: 10px;
	text-decoration: none;
	margin-top: 1.5rem;
	font-family: "Kanit", Tahoma, sans-serif;
}

/*=============================
Contact Page Form 
=============================*/

.form-section {
	padding-bottom: 3rem;
}

.contact-page-form {
	float: right;
	margin-left: 20%;
	margin-right: 20%;
}

.contact-page-form label {
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-family: 'Pt Serif', 'Times New Roman', serif;
	font-weight: 400;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
}

.input-container {
	position: relative;
	margin: .5rem 1rem 1rem 1rem;
}

input {
	display: flex;
	flex-direction: column;
	height: 2.5rem;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: .5rem .5rem .5rem 1rem;
	border: 1px solid black;
	font-size: 1.25rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 400;
}

.contact-page-form .submitBtn {
	padding-bottom: 1rem;
	font-size: 1rem;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
	width: 100%;
	margin-top: 1.5rem;
	border: 3px solid;
}

.submitBtn:hover {
	background: #292230;
	color: #dfdee0;
}

#contact-info {
	display: flex;
	flex-direction: column;
}

#contact-info h1 {
	font-size: 2.5rem;
	margin-top: 4%;
	font-family: "Kanit", Tahoma, sans-serif;
	font-weight: 500;
	margin-left: 18%;
	margin-right: 22%;
	margin-bottom: 5%;
	text-align: left;
}

#contact-info p {
	font-family: "Kanit", Tahoma, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	width: 55%;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

textarea {
	margin-top: 5%;
	width: 100%;
}

.follow h2 {
	padding-bottom: 1.5rem;
}

ul.follow-links li {
	display: inline;
}

ul.follow-links img {
	width: 4%;
	height: auto;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
}

.email {
	text-decoration: underline;
	font-family: "Kanit", Tahoma, sans-serif;
	color: blue;
}

/*==============================
Additional Styles
==============================*/
/*.hamburger-button {
	background-color: #333;
	color: white;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
	width: 5%;
	height: auto;
	border-radius: 5%;
	float: right;
 }

 .nav-links {
	clear:both;
	display: none;
	background-color: #333;
	color: white;
	width: 100%;
 }
 .nav-links a {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
 }
 .nav-links a:hover {
	background-color: #111;
 }
*/

.hamburger {
	display: none;
}

.hamburger img {
	display: block;
	width:2.25rem;
	height: auto;
	margin: .05rem auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: rgb(223, 222, 224);
}

@media only screen and (max-width: 1000px) {
	.profile-pic {
		display: none;
	}

	#hotspot1 {
		display: none;
	}

	#intro h2 {
		margin-top: 2rem;
	}

	.project.tbd {
		margin-top: 2rem;
	}

	.design-work h3 {
		margin-top: 1rem;
	}

	.company h3 {
		margin-top: 2rem;
	}

	.main-nav li:first-child {
		padding-left: 65%;
	}
}

@media only screen and (max-width: 760px) {

	#intro p {
		margin-bottom: .5rem;
	}

	.project .title {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	#fun-facts {
		display: none;
	}

	.title h2 {
		margin-top: 2rem;
	}

	.game,
	.tbd {
		margin-top: 2rem;
	}

	.form-section {
		margin-top: 2rem;
	}

	.logo {
		margin-left: 20px;
		padding-top: 4%;
	}

	.contact-page-form {
		float: right;
		margin-left: 5%;
		margin-right: 5%;
	}

	#contact-info h1 {
		margin-top: 5rem;
	}

	ul.follow-links img {
		width: 10%;
	}

	#nav-bar {
		padding-bottom: 20px;
	}

	.main-nav li:first-child {
		padding-left: 0;
		display: block;
	}

	.main-nav {
		position: fixed;
		left: -100%;
		top: 2.5rem;
		flex-direction: column;
		background-color: hsla(360, 7%, 100%, 0.95);
		font-size: 1.5rem;
		font-weight: 600;
		width: 75%;
		height: 20rem;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, .75);
	}

	.title p {
		font-size: 1.5rem;
		margin-bottom: .5rem;
	}

	.footer-content span {
		margin-left: 5%;
	}

	footer ul {
		margin-left: 60%;
		padding-left: 5px;
	}

	.main-nav.active {
		left: 0;
		margin: 2rem;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: inline-block;
		cursor: pointer;
		padding-left: 80%;
		margin-top: 5%;
	}
/*

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

}
*/
.submitBtn,
.work-button {
	background-color: rgb(223, 222, 224);
	color: rgb(38, 38, 38);
	border: solid black 2px;
}

.submitBtn {
	padding-left: 30%;
	padding-right: 30%
}
}

@media only screen and (max-width: 5860px) {
	.hamburger {
		padding-left: 70%;
	}
}



@media only screen and (max-width: 4600px) {
	.footer-content span {
		margin-left: 5%;
	}

	footer ul {
		margin-left: 5%;
		padding-left: 5px;
	}

	.footer-content span {
		float: right;
		margin-right: 5%;
		margin-top: 1.5rem;
		font-family: "Kanit", Tahoma, sans-serif;
		font-weight: 500;
	}
}

@media only screen and (max-width: 402px) {
	footer {
		height: 7rem;
	}

	#intro h2 {
		padding-top: 1rem;
	}

	.project img {
		width: 225px;
		height: 225px;
	}

	#projects .project p {
		margin-bottom: 1.5rem;
	}

	#projects .project {
			align-items: center;
		}
	}

	@media only screen and (max-width: 404px) {
		footer {
			height: 8rem;
		}
	}